
XnapBoxDataGrabberNET.suo

XnapBoxDataGrabberNET/bin/Debug/XnapBoxDataGrabberNET.vshost.exe

XnapBoxDataGrabberNET/bin/Debug/XnapBoxDataGrabberNET.vshost.exe.manifest

XnapBoxDataGrabberNET/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache

XnapBoxDataGrabberNET.suo

*.suo
