
XnapBoxDataGrabberNET.suo

XnapBoxDataGrabberNET/bin/Debug/XnapBoxDataGrabberNET.vshost.exe

XnapBoxDataGrabberNET/bin/Debug/XnapBoxDataGrabberNET.vshost.exe.manifest

XnapBoxDataGrabberNET/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache

XnapBoxDataGrabberNET.suo

*.suo

XnapBoxDataGrabberNET/bin/Debug/XnapBoxDataGrabberNET.exe

*.pdb

*.cache

XnapBoxDataGrabberNET/obj/x86/Debug/XnapBoxDataGrabberNET.csproj.FileListAbsolute.txt

XnapBoxDataGrabberNET/obj/x86/Debug/XnapBoxDataGrabberNET.exe
